[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
dlib = "*"
fastapi = "*"
uvicorn = "*"
cloudinary = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-multipart = "*"
pydantic = "==1.10.8"
imutils = "*"
numpy = "*"
asyncpg = "*"
greenlet = "*"

[dev-packages]

[requires]
python_version = "3.11"
